.homepage-container {
    
    padding: 2rem 5rem;

    h1 {
        font-size: 4em;
        color: rgb(88, 87, 139);

        text-transform: capitalize;

    }

    p{
        color: rgb(125, 124, 151); 
    }
}